.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainContent {
  margin: 10% 0 0 0;
}

.mainContent > p {
  margin: auto;
  max-width: 40%;
}
